@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Fonts Family
$font-family: 'Roboto Slab', serif;

// Fonts Size
$small-font-size: 1rem;
$normal-font-size: 1.2rem;
$middle-font-size: 1.8rem;
$large-font-size: 2.2rem;

// Font Weight
$low: 200;
$normal: 400;
$semi-bold: 600;
$bold: 900;

// Font Color
$title: #2E8B57;
$navbar: #2E8B57;

// Line height
$line-height: 2rem;

// border radius
$radius: 0.2rem;
$radius-color: #0cf90c;
$border: #008000;

// hover 
$button-hover:#a5b7ef;
$hover-text: #FF6347;
$hover-navbar: #b4ecf7;

// Transistion
$transition: 0.7s;

// Background
$header-bg: #bfccf3; 
$navbar-bg: #dff2f6;
$main-bg: #cbcbf8;
$section-bg: #bfe6fe;
$aside-bg: #708090;
$footer-bg: #191970;
$button-bg: #7493f0;

// Width and height
$width: 100%;
$max-width: 1024px;
$max-height: 100vh;

// Width View
$desktop: 85%;
$laptop: 90%;
$tablet: 95%;
$mobile: 98%



