@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.change-password-page {
  width: $width;
  max-width: $max-width;
  margin: 1rem auto;

  .change-password-container {
    width: 70%;
    margin: auto;

    .change-password-title {
      @include title;
    }

    .change-password-form {
      border: 1px solid $border;
      padding: 1rem;
      border-radius: $radius;

      .label-input-ontainer {
        & label {
          display: block;
          padding: 0.5rem 0;
        }

        & input {
          display: block;
          padding: 0.5rem;
          width: 100%;
        }

        & textarea {
          display: block;
          padding: 0.5rem;
          width: 100%;
        }
      }

      .hange-password-btn {
        @include button;
      }
    }
  }
}
