@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";

.profile-page {
  width: $width;
  max-width: $max-width;
  margin: 1rem auto;

  .profile-container {
    width: 70%;
    margin: auto;

    .profile-title {
      @include title;
    }

    .profile-info {
      border: 1px solid $border;
      padding: 1rem;

      .profile-image-container {
        text-align: center;
        .image {
          border-radius: $radius;
        }
      }

      .profile-form {
        .label-input-ontainer {
          & label {
            display: block;
            padding: 0.5rem 0;
          }

          & input {
            display: block;
            padding: 0.5rem;
            width: 100%;
          }

          & textarea {
            display: block;
            padding: 0.5rem;
            width: 100%;
          }
        }

        .profile-btn {
          @include button;
        }
      }
    }
  }
}
