@import "../../styles/Variables.scss";
@import "../../styles/Mixins.scss";
.password {
    position: relative;
    .input {
      @include input;
    }

    .password-icon {
      position: absolute;
      top: 35%;
      right: 1rem;
      cursor: pointer;
    }
  }